<template>
    <div>
        <h1>Главная страница</h1>
        <router-link to="/posts">Посты</router-link>
        <router-link to="/about">О нас</router-link>

    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>
