<template>
    <div>
        <h1>Страница с постами</h1>
        <my-input 
            v-model="searchQuery"
            placeholder="Поиск..."
        >
        </my-input>
        <div class="app__btns">
            <my-button @click="showDialog">
                Создать пост
            </my-button>
            <my-select 
                v-model="selectedSort"
                :options="sortOptions"    
            />
        </div>
        <my-dialog v-model:show = "dialogVisible">
            <post-form 
                @create="createPostParent"
            />
        </my-dialog>
        <post-list 
            :posts1="sortedAndSearchedPosts"
            @remove="removePost"
            v-if="!isPostLoading"
        />
        <div v-else>Идет загрузка...</div>
        <div v-intersection="loadMorePosts" class="observer"></div>
    </div>
</template>
<script>
import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import axios from "axios";

export default {
    components: {
    PostForm,
    PostList,
},
    data() {
        return {
            //Массив постов
            posts: [],
            dialogVisible: false,
            isPostLoading: false,
            searchQuery: '',
            selectedSort: '',
            page: 1,
            limitPostInPage: 10,
            totalPage: 0,
            sortOptions: [
                {value: 'title', name: 'По заголовку'},
                {value: 'body', name: 'По содержимому'},
            ],

        }
    },
    methods: {
        createPostParent(post) {
            
            this.posts.push(post);
            this.dialogVisible = false;
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showDialog() {
            this.dialogVisible = true;
        },
        async fetchPosts() {
            try {
                this.isPostLoading = true;
                // setTimeout( async () => {
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
                    params: {
                        _page: this.page,
                        _limit: this.limitPostInPage,
                    }
                });
                this.totalPage = Math.ceil(response.headers['x-total-count'] / this.limitPostInPage);
                this.posts = response.data;
                this.isPostLoading = false;
                // }, 1000);
            } catch (e) {
                alert('Error')
            } finally {
                this.isPostLoading = false;
            }
        },
        async loadMorePosts() {
            try {
                this.page += 1;
                // setTimeout( async () => {
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
                    params: {
                        _page: this.page,
                        _limit: this.limitPostInPage,
                    }
                });
                this.totalPage = Math.ceil(response.headers['x-total-count'] / this.limitPostInPage);
                this.posts = [...this.posts, ...response.data];
                // this.isPostLoading = false;
                // }, 1000);
            } catch (e) {
                alert('Error')
            } 
        },

    },
    mounted() {
        this.fetchPosts();
        // const options = {
        //     rootMargin: '0px',
        //     threshold: 1.0
        // }
        // const callback = (entries, observer) => {
        //     if (entries[0].isIntersecting && this.page < this.totalPage) {
        //         this.loadMorePosts()
        //     }
            
        // };
        // const observer = new IntersectionObserver(callback, options);
        // observer.observe(this.$refs.observer);
        
    },
    computed: {
        sortedPosts() {
            return [...this.posts].sort( (post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort])
            )
        },
        sortedAndSearchedPosts() {
            return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))

        },
    },
    
    
}
</script>
<style>
.app__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.observer {
    height: 100px;
    background-color: aqua;
}

</style>
