<template>
    <div class="navbar">
        <h1 @click="$router.push('/')">VUE 3</h1>
        <div class="navbar__btns">
            <my-button @click="$router.push('/posts')">Посты</my-button>
            <my-button @click="$router.push('/about')">О нас</my-button>
            <my-button @click="$router.push('/store')">VUEX</my-button>

            <!-- <router-link to="/posts">Посты</router-link>

            <router-link to="/about">О нас</router-link> -->
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.navbar {
    height: 50px;
    display: flex;
    background-color: rgba(0, 0, 255, 0.123);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar__btns button{
    margin-left: 10px;
}

</style>
