<template>
    <div class="post">
        <div>
            <div>{{post1.id}}</div>
            <div><strong>Название:</strong>{{post1.title}}</div>
            <div><strong>Описание:</strong>{{post1.body}}</div>
        </div>
        <div class="post__btn">
            <my-button 
                class="btnOpenPost"
                @click="$router.push(`/posts/${post1.id}`)"
            >
            Открыть
            </my-button>
            <my-button 
                class="btnDeletePost"
                @click="$emit('remove', post)"
            >
            Удалить
            </my-button>
        </div>
    </div>
</template>
<script>
// import MyButton from "@/components/UI/MyButton.vue"

export default {
    // components: {MyButton},  
    props: {
        post1: {
            type: Object,
            required: true,
        }
    }
    
}
</script>
<style scoped>
    .post {
        padding: 15px;
        border: 2px solid gold;
        margin: 15px 0 0 0 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .post__btn {
        display: flex;
    }
    .btnDeletePost {
        margin-left: 10px;

    }

</style>