<template>
    <form class="createPost" @submit.prevent>
        <h3>Создание поста</h3>
        <!-- привязываем value значение input к модели title -->
        <!-- вешаем слушатель события на input.value и передаем его в модель title -->
        <!-- v-bind:value="post.title"
        @input="post.title = $event.target.value" -->


        <!-- Заменяем v-on и v-bind на v-modal -->
        <my-input
            type="text"
            v-model="post2.title"
            placeholder="Название поста"/>
        <my-input 
            type="text"
            v-model="post2.body" 
            placeholder="Содержимое поста"/>
        <my-button 
            class="btnCreatePost"
            @click="createPost">
            Добавить пост
        </my-button>
    </form>

</template>
<script>
// import MyInput from './UI/MyInput.vue';
// import  MyButton  from "@/components/UI/MyButton.vue";
export default {
//   components: { MyInput },
    // components: { MyButton },
    data() {
        return {
            post2: {
                title: '',
                body: '',
            }
        }
    },
    methods: {
        //функция создания поста
        createPost() {
            //В модель post добавляем новый элемент id уникальный 
            this.post2.id = Date.now();
            // console.log(this.post2);
            
            //Создаем событие для передачи нового поста родителю в массив
            this.$emit('create', this.post2);
            this.post2 = {
                title: "",
                body: "",
            }
        },
    }
    
}

</script>
<style>
    .createPost {
        display: flex;
        flex-direction: column;
    }
    .input {
        width: 100%;
        border: 2px solid gold;
        padding: 15px;
        margin: 15px 0 0 0 ;
    }
    .btnCreatePost {
        align-self: flex-end;
        margin: 15px 0 0 0 ;
    }

</style>