<template>
    <div v-if="posts1.length > 0">
        <h3>Список постов</h3>
        <post-item 
            v-for="post in posts1" 
            :key="post.id"
            :post1="post"
            @remove="$emit('remove', post)"
        />
    </div>
    <h3 v-else class="headerListNon">Список постов пуст</h3>

</template>
<script>
    import PostItem from '@/components/PostItem.vue'
    export default {
        components: { PostItem },
        props: {
            posts1: {
                type: Array,
                required: true,
            }
        }
    }

</script>
<style scoped>
.headerListNon {
    color: pink;
}

</style>