<template>
    <button class="btn">
        <slot></slot>
    </button>
</template>
<script>
export default {
    name: 'my-button'
}
</script>
<style >
    .btn {
        padding: 10px 15px;
        border: 2px solid gold;
        background: none;
        border-radius: 5px;
    }

</style>