<template>
<div class="dialog-wrapper" v-if="show" @click="hideDialog">
    <div @click.stop class="dialog">
        <slot></slot>
    </div>

</div> 
    
</template>

<script>
export default {
    name: 'my-dialog',
    props: {
        show:{
            type: Boolean,
            default: false,
        }
    },
    methods: {
        hideDialog() {
            this.$emit('update:show', false);
        }
    }
 }
</script>
<style scoped>
    .dialog-wrapper {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
    }
    .dialog {
        margin: auto;
        align-self: center;
        justify-self: center;
        background: white;
        border-radius: 15px;
        min-width: 300px;
        min-height: 100px;
        padding: 15px;
    }

</style>
